@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Great+Vibes&display=swap');

* {
  font-family: Poppins;
  text-decoration: none;
  list-style: none;
}

:root {
  --morado: rgba(164, 128, 236, 0.852);
}

.navbar {
  padding: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.container-fluid {
  padding: 0 5vw;
}

h1 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  line-height: 1.4;
  letter-spacing: 1px;
}

.icon {
  width: 50px;
}

.navbar-nav li {
  position: relative;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav li a {
  padding: 30px 30px !important;
}

.navbar-nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--morado);
  transition: all 0.2s ease;
  transform: translateX(-50%);
}

.navbar-nav li:hover::after {
  width: 100%;
}

.navbar-nav li:hover>a {
  color: var(--morado);
  transition: color 0.2s ease;
}

.navbar-nav li.active::after {
  width: 100%;
}

.navbar-nav li.active>a {
  color: var(--morado) !important;
}

.navbar-nav .nav-item a {
  font-size: 1.1rem;
  color: #000;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

.navbar-toggler {
  border: none;
}

/*Hero*/

.hero {
  display: flex;
  background: url('images/bg_1.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-position: center top;
  align-items: center;
  padding: 0 10vw;
}

.info-button {
  width: 12%;
  margin: 12px auto 0 auto;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: var(--morado);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 15px 15px;
  transition: 0.1s ease-in-out;
}

.info-button:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--morado);
  color: rgba(164, 128, 236, 1);
}

/*Nosotros section*/

.about_section .row {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.about_section .img-box img,
.img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin: 25px 0;
  color: rgba(0, 0, 0, 0.5);
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #013c49;
  border: 1px solid #023b48;
  color: #ffffff;
  transition: .1s ease;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #023b48;
}

#nosotros article {
  display: flex;
  padding: 120px !important;
  width: 100%;
  background-color: rgba(229, 229, 229, 0.3);
}

.pug,
.info-nosotros,
.texto-detalle {
  width: 100%;
}


.detalle-icono-contenedor {
  width: 42%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.pug {
  display: flex;
  align-items: center left;
  justify-content: center left;
}

.pug img {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  background: rgba(217, 199, 255, 0.6);
  background: -webkit-linear-gradient(360deg, rgba(217, 199, 255, 0.6) 0%, #f1c7ff 50%, #e2d1ff 100%);
  background: linear-gradient(360deg, rgba(217, 199, 255, 0.6) 0%, #f1c7ff 50%, #e2d1ff 100%);
  width: 100%;
  margin: auto;
}

.titulo-info h3 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  color: #000;
}

.info-nosotros {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  background: #ffe8be;
  background: -webkit-linear-gradient(0deg, #ffe8be 0%, #ffdabc 100%);
  background: linear-gradient(0deg, #ffe8be 0%, #ffdabc 100%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.razones {
  padding-left: 0px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.detalle {
  display: flex;
  gap: 10px !important;
  justify-content: center;
  align-items: center;
}

.icono-detalle {
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 3px 3px 10px 3px #ffffff;
  -moz-box-shadow: 3px 3px 10px 3px #ffffff;
  box-shadow: 3px 3px 10px 3px #ffffff;
  background-color: #fff;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.icono-detalle img {
  width: 50%;
}

.texto-detalle {
  padding: 0px;
}

.texto-detalle h3 {
  color: #000;
  font-weight: bold;
  font-size: 1.12rem;
  line-height: 1.5;
}

.texto-detalle p {
  font-size: .95rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}

/*Section Services*/
#servicios {
  display: flex;
  flex-direction: column;
  gap: 80px;
  text-align: center;
  padding: 60px 0;
}

.titulo-seccion {
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--morado);
  color: var(--morado);
}

.tituloSecciones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloSecciones img {
  z-index: 1;
  width: 15%;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
}

.media-body p {
  font-size: 1rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.5);
}

.col-md-4 {
  box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.col-md-4:hover {
  background-color: var(--morado);
  color: #fff;
}

.col-md-4:hover p {
  color: #fff;
}

.col-md-4:hover .icon {
  background-color: white;
  box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.5);
}

.services .icon {
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  line-height: 1.3;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -50px;
  background-color: var(--morado);
}

.services .icon img {
  width: 35%;
}

/*Contacto Section*/

#contacto {
  display: flex;
  background-image: radial-gradient(#ffffff 0.5px, transparent 0.5px), radial-gradient(#ffffff 0.5px, transparent 0.5px) !important;
  background-size: 47px 47px !important;
  background-position: 0 0, 23.5px 23.5px !important;
  background-color: #000000 !important;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px;
}

.contenedor-formulario h3, #resultadosVotacion h3{
  font-size: 1.6rem !important;
}

.c-contacto {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}

.contenedor-formulario{
  width: 95%;
  padding: 55px;
}

.c-citas{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-right: 0px !important;
  align-items: center;
}

.result-card {
  color: white;
  padding: 10px 0;
}

.result-card p strong{
  color: var(--morado);
  font-size: 1.1rem;
}

#form {
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  padding: 60px;
}

#form button {
  background-color: var(--morado);
  color: #fff;
  font-weight: 600;
  transition: .1s ease;
}

#form button:hover {
  background-color: transparent;
}

#form p {
  color: #fff;
}

#form input::placeholder {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#form input {
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  padding: 10px;
}

select option:first-child:disabled {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

select:invalid {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

select:valid {
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
  padding: 10px;
}

select option:enabled {
  color: #000;
}


.contact-header h3 {
  color: #fff;
  font-size: 1.5rem;
}

/*Seccion datos del formulario*/
.citas-container {
  margin: 20px auto;
  max-width: 800px;
  max-height: 520px;
  padding: 40px;
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.citas-container h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;
}

/*Testimonios*/
#testimonios {
  padding: 60px 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  background: #ffe8be;
  background: -webkit-linear-gradient(0deg, #ffe8be 0%, #ffdabc 100%);
  background: linear-gradient(0deg, #ffe8be 0%, #ffdabc 100%);
  text-align: center;
}

#testimonios h2{
  font-size: 1.7rem;
  color: #000;
  text-shadow: 1px 1px 1px #000;
  font-weight: 700;
}

.descripcion {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: rgba(0,0,0,.9);
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0; 
}

.testimonial {
  cursor: pointer;
  background: #fff;
  color: #333;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 1);
}

.testimonial-text {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6;
}

.testimonial-author {
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  font-size: 1rem;
}

/*Footer*/
#footer {
  background-color: #f8f9fa;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#footer h5.widget-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  position: relative;
}

#footer a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

#footer a:hover {
  color: var(--morado);
}

.footer-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer ul.menu-list {
  padding: 0;
  list-style: none;
}

#footer ul.menu-list li {
  margin-bottom: 10px;
}

#footer ul.menu-list li a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
}

#footer ul.menu-list li a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--morado);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

#footer ul.menu-list li a:hover::before {
  width: 100%;
}

#footer .social-links ul {
  display: flex;
  gap: 15px;
}

#footer .social-links ul li a {
  font-size: 18px;
  display: inline-block;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#footer .social-links ul li a:hover {
  color: var(--morado);
}

#footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

#footer p i {
  margin-right: 8px;
  color: var(--morado);
}

#footer .border-top {
  border-top: 1px solid #ddd;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

#footer .border-top p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

#footer .shipping span {
  font-size: 14px;
  margin-right: 10px;
}

#footer .shipping i {
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}

#footer .border-top p a {
  color: var(--morado);
  text-decoration: underline;
}

#footer .border-top p a:hover {
  color: #fff;
  text-decoration: none;
}

.foot{
  padding: 20px;
}

@media(max-width:1850px){
  #info-nosotros{
    padding: 50px !important;
  }
}

@media(max-width:1370px){
  #contacto{
    display: flex;
    flex-direction: column;
  }

  .contenedor-formulario{
    width: 65%;
  }
}

@media(max-width: 1200px) {
  .container-fluid {
    padding: 20px 5vw;
  }

  .info-button {
    width: 25%;
  }

  .hero {
    padding: 0 20px;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  #nosotros article {
    padding: 90px 70px !important;
  }

  .detalle {
    gap: 10px;
  }

  .detalle-icono-contenedor {
    width: 45%;
  }

  .info-button {
    width: 17%;
  }

  #nosotros article{
    padding: 30px !important;
  }

  .contenedor-formulario{
    width: 75%;
  }
}

@media(max-width: 992px) {
  .icon {
    width: 37px;
  }

  .info-button {
    width: 50%;
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2.1rem;
  }

  #nosotros article {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .razones {
    display: flex;
    flex-direction: column;
  }

  .detalle {
    display: flex;
    gap: 0;
  }

  .detalle-icono-contenedor {
    width: 15%;
  }

  .info-button {
    width: 18%;
  }

  .detail-box h3 {
    font-size: 1.6rem !important;
  }

  .detail-box h4 {
    font-size: .9rem !important;
  }

  .detail-box p {
    font-size: .8rem !important;
  }

  .contenedor-formulario{
    width: 100%;
    padding-right: 50px !important;
    padding-left:50px !important;
  }

  #form{
    padding: 60px;
  }

}

@media(max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    width: 28px;
  }

  h1 {
    font-size: 2.4rem;
  }

  .info-button {
    font-size: 1rem;
    width: auto;
  }

  .navbar-brand {
    font-size: 1.7rem;
  }

  .navbar-toggler-icon {
    width: 23px;
  }

  .navbar-nav .nav-item a {
    font-size: 0.95rem;
  }

  .container {
    padding: 50px;
  }

  .titulo-seccion {
    font-size: 2.1rem;
  }

  .col-md-4 {
    margin-bottom: 20px;
  }

  .tituloSecciones img {
    width: 25%;
  }

  .col-md-4 h3 {
    font-size: 1.2rem;
  }

  .col-md-4 p {
    font-size: .9rem;
  }

  #servicios {
    gap: 5px;
  }

  .detalle-icono-contenedor {
    width: 20%;
  }

  .contenedor-formulario{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  #form {
    padding: 50px;
  }

  #info-nosotros {
    padding: 90px 70px !important;
  }

  .titulo-info h3 {
    font-size: 1.8rem;
  }

  .texto-detalle h3 {
    font-size: 1rem;
  }

  .texto-detalle p {
    font-size: .8rem;
  }

  .icono-detalle {
    width: 50px;
    height: 50px;
  }

  .about_section .detail-box a {
    padding: 9px 14px;
    font-size: .8rem;
  }

  #footer .row {
    text-align: center;
  }
  #footer .col-md-6 {
    margin-bottom: 20px;
  }

 .contenedor-formulario h3, #resultadosVotacion h3{
    font-size: 1.3rem;
  }

  select:invalid,select:valid,select option:first-child:disabled,#form p,#form input,#form input::placeholder, select option, #resultados p{
    font-size: .9rem;
  }

  #form button{
    font-size: .95rem;
  }

}

@media(max-width: 576px) {

  .navbar-brand {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.30rem;
  }

  .info-button {
    font-size: 0.8rem;
  }

  .detalle-icono-contenedor {
    width: 40%;
  }

  .c-citas{
    padding: 0 30px !important;
  }

  .navbar-nav .nav-item a {
    font-size: 0.8rem;
    padding: 18px !important;
  }

  #info-nosotros {
    padding: 90px 10px !important;
  }

  #nosotros article{
    padding: 0 !important;
  }

  .testimonial-text, .testimonial-author{
    font-size: .9rem;
  }

  #testimonios h2{
    font-size: 1.45rem;
    text-shadow: .4px .4px .7px #000;
  }

  #testimonios .descripcion{
    font-size: 1.1rem;
    text-shadow: .4px .4px .4px #fff;
  }

  .contenedor-formulario{
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  #form{
    padding: 25px;
  }
  
}
